/*------------------------------ MAIN PAGE --------------------------------*/

.banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
    width: 90%;
    max-width: 1500px;
}

.banner-right {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 48%;
}

.banner-right>img {
    width: 100%;
    height: auto;
    border-radius: 40px;
}

.banner-left {
    max-width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

/*----------------------------- GRID SECTION ---------------------------------*/


.grid-container {
    margin: 30px 0px 80px 0px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    justify-items: center;
    align-items: center;
    gap: 40px 40px;
    max-width: 1500px;
    border: 1px solid red
}

.grid-card {
    width: 400px;
    height: 324px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 40px;
}

.grid-card>img {
    position: relative;
    top: -40px;
    right: -110px;

}

.card-1 {
    background-color: var(--color-accent);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10%;
}

.grid-wrapper {
    position: relative;
    top: -40px;
    width: 100%;
    height: 300px;
    padding: 0% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.grid-card-link {
    border: 1px solid var(--color-outline);
    border-radius: 50px;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.grid-card-link:hover {
    border: 1px solid var(--color-outline);
    background-color: black;
    border-radius: 0;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}